<!DOCTYPE html>
<html>

<head>

    <title>Share Notes</title>
    <link rel="stylesheet" href="/css/styleslogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="left-section">
            <div class="logo">
                <img src="/images/SHARE NOTES.png" width="210">
            </div>
            <div class="slogan">
                <h2>¡Comparte tus<br>apuntes</h2>
                <p>y tus conocimientos!</p>
            </div>
            <div class="hipervinculo">
                <a href="https://youtu.be/7h2ryr_uUEs?si=6cO53YNpnbdgJHVE" target="_blank">
                    <img src="/images/link.png" alt="Icono" class="icono">
                    ¿Cómo funciona?
                </a>
            </div>
        </div>

        <div class="formulario">
            <div class="caja">
                <div class="brain">
                    <img src="/images/Capa_1.png" alt="cerebro" class="cerebro">
                </div>

                <div class="botones-iniciales">
                    <button class="btn" id="loginBtn">Iniciar sesión</button>
                    <button class="btn" id="registerBtn">Registrarse</button>
                </div>

                <div id="registroCampos" class="registro-campos"></div>
            </div>
        </div>
    </div>

    <script src="/js/rewrite-login.js"></script>
</body>

</html>
